:root {
  --dark-green: #004047;
  --cards-color: #012F34;
  --pink: #F67E7E;
  --start-color: #014E56;
  --ff: #fff;
  --name: #79C8C7;
}

body {
  font-family: 'Livvic', sans-serif;
  overflow-x: hidden;
  background-color: var(--start-color);
}


header {
  background-color: var(--start-color);
  padding-bottom: 112px;
}

.header__div {
  margin-bottom: 120px;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}



.header__logo {
  margin-right: 80px;
  padding-top: 10px;
}

.header__item {
  padding: 0;
}

.header__list:nth-child(1) {
  margin-right: 40px;
  padding-top: 20px;
}


.header__list {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.header__btn {
  color: var(--ff);
  padding: 10px 32px;
  background-color: var(--ff);
  border: 1px solid #fff;
  color: #004047;
  border-radius: 18px;
  transition: background 0.5s ease, color 0.6s ease;
}


.header__btn:hover {
  background-color: transparent;
  color: var(--ff);
  transition: background 0.5s ease, color 0.6s ease;
}

.opening {
  display: flex;
}

.opening__title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin: 0;
  line-height: 100px;
  color: var(--ff);
  padding-bottom: 98px;
}

.catch {
  width: 66%;
  margin-left: auto;
}

.opening__txt {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--ff);
}

.line {
  position: absolute;
  top: -35px;
  left: 0;
}

.burger-menu {
  display: none;
}



.post {
  bottom: -52px;
  right: -85px;
}

#hero__section {
  background-color: var(--dark-green);
  background-image: url('../img/midle-post.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 150px;
}

.hero__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: var(--ff);
  margin: 0;

}




.workers__item {
  padding: 0;
}

.workers__list {
  width: 32%;
  height: 253px;
  padding: 32px 24px;
  margin-top: 45px;
  background-color: var(--cards-color);
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.worker__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--name);
  margin-top: 16px;
  margin-bottom: 5px;
}

.worker__job {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--ff);
  margin: 0;
}

.plus {
  bottom: -32px;
  right: 5px;
}

.bx {
  font-size: 30px;
  color: var(--ff);
  padding-top: 20px;
  padding-right: 8px;
}





.plus-btn {
  position: absolute;
  color: #012F34;
  background-color: #F67E7E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  bottom: -28px;
  left: 0;
  right: 0;
}


.plus-btn::before {
  content: "";
  width: 50%;
  height: 50%;
  background-image: url('../img/soft-plus.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.last-plus-btn::before {
  background-image: url('../img/soft-close.svg');
}

.last-plus-btn {
  background-color: #79C8C7;
}

#sponsor-section {
  width: 100vw;
  background-color: #012F34;
  background-image: url('../img/radius-post.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.sponsr__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--ff);
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
  padding-top: 140px;
}

.sponsr__item {
  padding-bottom: 100px;
  margin: 0;
}

#rozviy-section {
  width: 100vw;
  background-image: url('../img/redline.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: var(--pink);
  padding: 50px 0;

  margin-bottom: 50px;
}

.pinkk__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;

}

.btn {
  display: inline-block;
}


.footer__menu:nth-child(1) {
  margin-right: 28px;
}

.footer__icon {
  margin-right: 8px;
}

.footer__list {
  flex-grow: 1;
}

.footer__div {
  margin-right: 30px;
}


@media only screen and (max-width: 990px) {


  .container {
    max-width: 990px;

  }

  .opening {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .opening__title {
    padding-bottom: 0;
  }

  .catch {
    margin: 0 auto;
  }

  .line {
    display: none;
  }

  .workers__item {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .workers__list {
    width: 48%;
  }

  #sponsor-section {
    background-color: #012F34;
    background-image: url('../img/radius-post.png');
    background-position: left top -50%;
  }

  .sponsr__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
  }

  #rozviy-section {
    background-image: url('../img/redline.png');
    background-position: left bottom -30px;
    margin-bottom: 50px;
    padding: 76px 0;
  }

  .pinkk__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #012F34;
  }

  .footer__list {
    justify-content: end;
  }

  .footer__div {
    margin: 0 auto;
    text-align: center;

  }
}